<!DOCTYPE html>
<html>
    <head>
        <title>PK Airlines</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="~/Content/slide.css">
		<style>
			
			#main
			{
				float:right;
				height:100%;
				width:65%;
				margin-left:5%;
				margin-right:17%;
				background-color:#d9d9d9;
				padding : 10px;
			}
			.date
			{
				width;50px;
			
			.month
			{
				width;50px;
			}
			
			.year
			{
				width;70px;
			}
			
			
			
		</style>
    </head>
    <body>

		

        <div id="upperbar" style="margin-bottom:0px;">


        </div>

        <div id="navbar" style="margin-top:0px;">
            <h1 style="padding-left:5%; float:left;">PK Airlines</h1>
            <ul>
                <a id="nav2" href="/Home/logout">Logout</a>
                <a id="nav2" href='@Url.Action("Contact","Home")'>Contact Us</a>
                <a id="nav2" href='@Url.Action("userPage","Home")'>User Info</a>
                <a id="nav2" href='@Url.Action("Schedules","Home")'>Schedules</a>
                <a id="nav2" href='@Url.Action("Status","Home")'>Flight Status</a>
                <a id="nav2" href='@Url.Action("Book","Home")'>Book Flight</a>
                <a id="nav2" href='@Url.Action("home","Home")'>Home</a>

            </ul>
        </div>
		
		@*<div class="content" style="width=100%">
			<img class="mySlides animate-right" src="~/images/1.jpg" style="width:100%" height="500px">
			<img class="mySlides animate-right" src="~/images/2.jpg" style="width:100%" height="500px">
			<img class="mySlides animate-right" src="~/images/3.jpg" style="width:100%" height="500px">
			<img class="mySlides animate-right" src="~/images/4.jpg" style="width:100%" height="500px">
			<img class="mySlides animate-right" src="~/images/5.jpg" style="width:100%" height="500px">
			<img class="mySlides animate-right" src="~/images/6.jpg" style="width:100%" height="500px">
		</div>
		<br/>
		<script>
			var myIndex = 0;
			carousel();

			function carousel() {
				var i;
				var x = document.getElementsByClassName("mySlides");
				for (i = 0; i < x.length; i++) {
				   x[i].style.display = "none";  
				}
				myIndex++;
				if (myIndex > x.length) {myIndex = 1}    
				x[myIndex-1].style.display = "block";  
				setTimeout(carousel, 3000);    
			}
		</script>*@

		
		<div id ="main">
			<p id = "norm"><b>Flight Route:</b><br/><br/></p>
			
		<form action ="/Home/Status1" method = "post" />
		
		
			@*<label>From</label>
			<input type="text" name = "src">
			<img src="../images/arrow.png" height="25px" width="25px"> 
			<label>To</label>
			<input type="text" name = "dest">
			<br/><br/>	
			<label>Departing Date</label>
			<input type="datetime-local" name = "ddate" placeholder="dd">
			<br/><br/>OR<br/><br/>*@
			<label>Flight no.</label>
			<input type="text" name = "F_ID">
			<br/><br/>
			</p>
			<input type="submit" name="submit" value="Search" required>
            <h2 style="color:blue;">@ViewBag.Status</h2>
            <h2 style="color:red;">@ViewBag.Status2</h2style="color:blue;">
		</form>
		
		


		
		</div>
		
		
    </body>
</html>